{% extends "aria_music/base.html" %}

{% block title %}Aria Music Website Homepage{% endblock %}

{% block content %}

{% load static %}

    <div class="banner">
        <div class="banner-text">Aria Music</div>
        <div class="banner-subtext">for instruments, accessories & more</div>
        <!--<button class="banner-button" onclick="window.location.href='/categories.aspx'">Shop Now</button>-->
    </div>


    <!-- Scrolling Section for New Products -->
    <section style="background-color: white">
        <h2 style="text-align: center;">
            New Products
        </h2>

        <div class="scroll-container">
            <!-- Left arrow button -->
            <button class="scroll-button left" for="scrollableDiv"
                onclick="scrollLeftButton('scrollableDiv')">&#8592;</button>

            <!-- Scrollable div -->
            <div class="scroll" id="scrollableDiv">
                {% for product in newest_product_list %}
                <div class="product-card">
                    <a href="{% url 'product_detail' product.sku %}">
                        <p class="product-image"><img src="{% static 'aria_music/' %}{{ product.sku }}.jpg" alt="{{ product.name }}"></p>
                        <p class="product-card-title">{{ product.name }}</p>
                        <p class="product-card-price">${{ product.price }}</p>
                    </a>
                </div>
                {% endfor %}

                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: peachpuff"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$19.99</p>
                    </a>
                </div>

                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: lightyellow"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$49.99</p>
                    </a>
                </div>
                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: lightgreen"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$9.99</p>
                    </a>
                </div>
                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: lightblue"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$69.99</p>
                    </a>
                </div>
                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: lavender"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$29.99</p>
                    </a>
                </div>
                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: gainsboro"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$39.99</p>
                    </a>
                </div>

                <!-- Right arrow button -->
                <button class="scroll-button right" for="scrollableDiv"
                    onclick="scrollRightButton('scrollableDiv')">&#8594;</button>
            </div>
    </section>


    <!-- Scrolling Section for Featured Products -->
    <section style="background: linear-gradient(0deg, rgba(248, 249, 251, 1) 0%, rgba(222, 226, 235, 1) 50%, rgba(248, 249, 251, 1) 100%);
              padding: 10px 0">
        <h2 style="text-align: center">
            Featured Products
        </h2>
        <div class="scroll-container" style="background-color: white">
            <!-- Left arrow button -->
            <button class="scroll-button left" for="scrollableDiv2"
                onclick="scrollLeftButton('scrollableDiv2')">&#8592;</button>
            <!-- Scrollable div -->
            <div class="scroll" id="scrollableDiv2" style="background-color: white">
                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: blueviolet"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$24.99</p>
                    </a>
                </div>
                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: violet"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$64.99</p>
                    </a>
                </div>
                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: pink"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$34.99</p>
                    </a>
                </div>
                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: rosybrown"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$94.99</p>
                    </a>
                </div>
                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: lightsalmon"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$64.99</p>
                    </a>
                </div>
                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: yellowgreen"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$34.99</p>
                    </a>
                </div>
                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: slateblue"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$14.99</p>
                    </a>
                </div>
                <!-- Right arrow button -->
                <button class="scroll-button right" for="scrollableDiv2"
                    onclick="scrollRightButton('scrollableDiv2')">&#8594;</button>
            </div>
    </section>
{% endblock %}