<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="" width+device-width, inital-scale="1.0">
    <title>Aria Music Website</title>
    <link rel="stylesheet" type="text/css" href="{% static 'aria_music/styles.css' %}">
    <script type="text/javascript" src="scripts.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Tangerine:wght@400;700&display=swap"
        rel="stylesheet">
</head>

<body>

    <header>
        <nav>
            <div class="search">
                <button class="search-button" for="search" type="submit" onclick="submit">Search</button>
                <input id="search" type="text" placeholder="What are you looking for today?">
            </div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Product Categories</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="banner">
        <div class="banner-text">Aria Music</div>
        <div class="banner-subtext">for instruments, accessories & more</div>
        <!--<button class="banner-button" onclick="window.location.href='/categories.aspx'">Shop Now</button>-->
    </div>


    <!-- Scrolling Section for New Products -->
    <section style="background-color: white">
        <h2 style="text-align: center;">
            New Products
        </h2>

        <div class="scroll-container">
            <!-- Left arrow button -->
            <button class="scroll-button left" for="scrollableDiv"
                onclick="scrollLeftButton('scrollableDiv')">&#8592;</button>

            <!-- Scrollable div -->
            <div class="scroll" id="scrollableDiv">
                {% for product in newest_product_list %}
                    <div class="product-card">
                    <a>
                        <p class="product-image"><img src="{{ product.image }}"></p>
                        <p class="product-card-title">{{ product.name }}</p>
                        <p class="product-card-price">{{ product.price }}</p>
                    </a>
                    </div>
                {% endfor %}

                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: peachpuff"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$19.99</p>
                    </a>
                </div>

                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: lightyellow"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$49.99</p>
                    </a>
                </div>
                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: lightgreen"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$9.99</p>
                    </a>
                </div>
                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: lightblue"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$69.99</p>
                    </a>
                </div>
                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: lavender"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$29.99</p>
                    </a>
                </div>
                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: gainsboro"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$39.99</p>
                    </a>
                </div>

                <!-- Right arrow button -->
                <button class="scroll-button right" for="scrollableDiv"
                    onclick="scrollRightButton('scrollableDiv')">&#8594;</button>
            </div>
    </section>


    <!-- Scrolling Section for Featured Products -->
    <section style="background: linear-gradient(0deg, rgba(248, 249, 251, 1) 0%, rgba(222, 226, 235, 1) 50%, rgba(248, 249, 251, 1) 100%);
              padding: 10px 0">
        <h2 style="text-align: center">
            Featured Products
        </h2>
        <div class="scroll-container" style="background-color: white">
            <!-- Left arrow button -->
            <button class="scroll-button left" for="scrollableDiv2"
                onclick="scrollLeftButton('scrollableDiv2')">&#8592;</button>
            <!-- Scrollable div -->
            <div class="scroll" id="scrollableDiv2" style="background-color: white">
                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: blueviolet"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$24.99</p>
                    </a>
                </div>
                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: violet"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$64.99</p>
                    </a>
                </div>
                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: pink"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$34.99</p>
                    </a>
                </div>
                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: rosybrown"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$94.99</p>
                    </a>
                </div>
                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: lightsalmon"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$64.99</p>
                    </a>
                </div>
                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: yellowgreen"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$34.99</p>
                    </a>
                </div>
                <div class="product-card">
                    <a>
                        <p class="product-image" style="background-color: slateblue"></p>
                        <p class="product-card-title">Musical Product</p>
                        <p class="product-card-price">$14.99</p>
                    </a>
                </div>
                <!-- Right arrow button -->
                <button class="scroll-button right" for="scrollableDiv2"
                    onclick="scrollRightButton('scrollableDiv2')">&#8594;</button>
            </div>
    </section>



    <!--<section  OLD IDEAS 
        style="background: linear-gradient(0deg, rgba(248, 249, 251, 1) 0%, rgba(222, 226, 235, 1) 50%, rgba(248, 249, 251, 1) 100%)">
        <h2>Featured Categories</h2>
        <div class="pop">
          <p style="margin: 0 0 2em 0;"><a href="/categories.aspx" class="underlined">Shop All</a></p>
          <div class="card-container">
            <a class="card-text" href="/c-6-printed-music.aspx">
              <div class="card">
                <img src="Images/Skin1/music.jpg" loading="lazy" alt="Sheet Music on Music Stand" width="250" height="250">
                <p>Music</p>
              </div>
            </a>
            <a class="card-text" href="/c-528-recorders-recorder-methods.aspx">
              <div class="card">
                <img src="Images/recorder-min.jpg" loading="lazy" alt="Young Girl Playing Recorder" width="250"
                  height="250">
                <p>Recorders</p>
              </div>
            </a>
            <a class="card-text" href="/c-314-handbells-music-accessories.aspx">
              <div class="card">
                <img src="Images/Skin1/bellgirlsnew.jpg" loading="lazy" alt="Woman and girl with handbells" width="250"
                  height="250">
                <p>Handbells</p>
              </div>
            </a>
            <a class="card-text" href="/c-2087-classroom-children.aspx">
              <div class="card">
                <img src="Images/Skin1/featured436a.jpg" loading="lazy" alt="Kids playing Mallets" width="250" height="250">
                <p>Classroom</p>
              </div>
            </a>
            <a class="card-text" href="/c-1051-guitar-and-bass.aspx">
              <div class="card">
                <img src="Images/Skin1/guitar.jpg" loading="lazy" alt="Close-up of a Guitar" width="250" height="250">
                <p>Guitars</p>
              </div>
            </a>
            <a class="card-text" href="/c-2103-drums-percussion.aspx">
              <div class="card">
                <img src="Images/Skin1/drumsSmall.jpg" loading="lazy" alt="Drumset" width="250" height="250">
                <p>Percussion</p>
              </div>
            </a>
            <a class="card-text" href="/c-28-woodwind-instruments-and-accessories.aspx">
              <div class="card">
                <img src="Images/Skin1/woodwinds.jpg" loading="lazy" alt="Clarinet Players" width="250" height="250">
                <p>Woodwinds</p>
              </div>
            </a>
            <a class="card-text" href="/c-3-brass-instruments-and-accessories.aspx">
              <div class="card">
                <img src="Images/Skin1/brass.jpg" loading="lazy" alt="trombone player" width="250" height="250">
                <p>Brass</p>
              </div>
            </a>
          </div>
        </div>
      </section>-->

</body>

</html>