<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="" width+device-width, inital-scale="1.0">
    <title>Aria Music Website</title>
    <link rel="stylesheet" type="text/css" href="{% static 'aria_music/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Tangerine:wght@400;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div>
        {% if product.sku %}
            <img src="{% static 'aria_music/' %}{{ product.sku }}.jpg">
            <p>{{ product.name }}</p>
            <p>{{ product.price }}</p>
            <p>{{ product.sku }}</p>
        {% else %}
            <p>Product was not found.</p>
        {% endif %}
    </div>
</body>

</html>